<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 게시판 서비스</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <h1>스프링 부트 게시판 서비스</h1>
            <ul class="menu">
                <li class="menu_item">
                    <a href="/register" class="menuLink">회원가입</a>
                </li>
                <li class="menu_item">
                    <a href="" class="menuLink">로그인</a>
                </li>
                <li class="menu_item">
                    <a href="" class="menuLink">로그아웃</a>
                </li>
                <li class="menu_item">
                    <a href="/post-list" class="menuLink">글 목록</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="content"></div>
        </div>
        <div class="footer">
            Email: pjh5365@naver.com &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="https://github.com/pjh5365/spring-board-service" target="_blank">Github</a>
        </div>
    </div>
</body>
</html>
