<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
    <link rel="stylesheet" href="/css/postList.css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <h1>자유게시판</h1>
            <ul class="menu">
                <li class="menu_item">
                    <a href="/post" class="menuLink">글 쓰기</a>
                </li>
                <li class="menu_item">
                    <a href="/" class="menuLink">메인 화면</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="content">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일자</th>
                    </tr>
                    <tr th:each="post : ${postList}">
                        <th th:text="${post.id}"></th>
                        <th><a th:text="${post.title}" th:href="@{|/post/${post.id}|}"></a></th>
                        <th th:text="${post.createdBy}"></th>
                        <th th:text="${post.createdAt}"></th>
                    </tr>
                </table>
            </div>
<!--            페이지의 수가 1보다 클때만 나타나게 -->
            <div class="pagination" th:if="${postList.totalPages > 1}">
<!--                첫번째 페이지를 가르킬 땐 -->
                <a th:href="@{/post-list(page=${postList.pageable.pageNumber - 1})}" th:if="${postList.getPageable().getPageNumber()} != 0">&laquo;</a>
<!--                존재하는 페이지 만큼 표시하고, 해당 페이지를 가르킬 때 class 를 active 로 변경 -->
                <a th:href="@{/post-list(page=${page - 1})}" th:each="page : ${#numbers.sequence(startPage, endPage)}" th:text="${page}" th:classappend="${page == postList.pageable.pageNumber+1} ? 'active'"}></a>
<!--                마지막 페이지를 가르킬땐 안보이게-->
                <a th:href="@{/post-list(page=${postList.pageable.pageNumber + 1})}" th:if="${postList.getPageable().getPageNumber()} != ${postList.getTotalPages()} - 1">&raquo;</a>
            </div>
        </div>
        <div class="footer">
            Email: pjh5365@naver.com &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="https://github.com/pjh5365/spring-board-service" target="_blank">Github</a>
        </div>
    </div>
</body>
