<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form name="register" method="post" action="/api/register">
        <h1 style="text-align: center">회원가입</h1>
        <input type="text" placeholder="이름" class="in" name="name" required>
        <input type="email" placeholder="이메일" class="in" name="email" required>
        <input type="text" placeholder="아이디" class="in" name="memberId" required>
        <input type="password" placeholder="비밀번호" class="in" name="password" required>
        <input type="submit" id="btn" value="회원가입">
    </form>
</body>
</html>